<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko-kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> 쇼핑몰 </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MeFamily
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Shoppingmall</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown"><a href="#"><span>전체 카테고리</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>신선 식품</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">과일</a></li>
                  <li><a href="#">채소 / 야채</a></li>
                  <li><a href="#">쌀 / 곡물 / 잡곡</a></li>
                  <li><a href="#">건조과일 / 견과류</a></li>
                  <li><a href="#">육포 / 어포</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>건강식품</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">홍삼</a></li>
                  <li><a href="#">비타민</a></li>
                  <li><a href="#">영양제</a></li>
                  <li><a href="#">다이어트</a></li>
                  <li><a href="#">건강음료 / 즙 / 분말</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>뷰티</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">기초 케어</a></li>
                  <li><a href="#">메이크업</a></li>
                  <li><a href="#">마스크 팩</a></li>
                  <li><a href="#">헤어 케어</a></li>
                  <li><a href="#">클렌징</a></li>
                  <li><a href="#">남성 화장품</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>가전 / 디지털</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">생활 가전</a></li>
                  <li><a href="#">계절 가전</a></li>
                  <li><a href="#">주방 가전</a></li>
                  <li><a href="#">건강 가전</a></li>
                  <li><a href="#">대형 가전</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>의류 / 잡화</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">여성 의류</a></li>
                  <li><a href="#">남성 의류</a></li>
                  <li><a href="#">유니섹스</a></li>
                  <li><a href="#">아동복</a></li>
                  <li><a href="#">언더웨어 / 잠옷</a></li>
                  <li><a href="#">신발</a></li>
                  <li><a href="#">가방</a></li>
                  <li><a href="#">시계 / 주얼리 / 잡화</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="active" href="index.html">할인 쇼핑몰</a></li>
          <li><a href="our-story.html">특가 할인</a></li>
          <li><a href="events.html">제품 상세</a></li>
          <li><a href="gallery.html">Gallery</a></li>
        
          <li><a href="contact.html">1:1 문의하기</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);" cursor: pointer; onclick="window.open('our-story.html');">
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)" cursor: pointer; onclick="window.open('our-story.html');">
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)" cursor: pointer; onclick="window.open('our-story.html');">
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= 특가 할인 품목 Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>특가 할인 품목</h2>
          <p>값싸게 좋은 물건들을 구매하세요!</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <a href="our-story.html" class="btn-learn-more">구매하기</a>
          </div>
        </div>

      </div>
    </section><!-- End My & Family Section -->


    <div class="row gallery-container">

      <div class="col-lg-4 col-md-6 gallery-item filter-home">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/home-1.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Home 1</h4>
            <p>Home</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/home-1.jpg" class="glightbox" title="Home 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-vacation">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/vacation-2.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Vacation 2</h4>
            <p>Vacation</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/vacation-2.jpg" class="glightbox" title="Vacation 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-home">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/home-2.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Home 2</h4>
            <p>Home</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/home-2.jpg" class="glightbox" title="Home 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-beach">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/beach-2.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Beach 2</h4>
            <p>Beach</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/beach-2.jpg" class="glightbox" title="Beach 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-vacation">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/vacation-1.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Vacation 1</h4>
            <p>Vacation</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/vacation-1.jpg" class="glightbox" title="Vacation 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-home">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/home-3.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Home 3</h4>
            <p>Home</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/home-3.jpg" class="glightbox" title="Home 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-beach">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/beach-1.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Beach 1</h4>
            <p>Beach</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/beach-1.jpg" class="glightbox" title="Beach 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-beach">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/beach-3.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Beach 3</h4>
            <p>Beach</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/beach-3.jpg" class="glightbox" title="Beach 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 gallery-item filter-vacation">
        <div class="gallery-wrap">
          <img src="assets/img/gallery/vacation-3.jpg" class="img-fluid" alt="">
          <div class="gallery-info">
            <h4>Vacation 3</h4>
            <p>Vacation</p>
            <div class="gallery-links">
              <a href="assets/img/gallery/vacation-3.jpg" class="glightbox" title="Vacation 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Gallery Section -->





    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>



      
    </section><!-- End Features Section -->

    <!-- ======= Recent Photos Section ======= -->
    <section id="recent-photos" class="recent-photos">
      <div class="container">

        <div class="section-title">
          <h2>Recent Photos</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="recent-photos-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-1.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-1.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-2.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-2.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-3.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-3.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-4.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-4.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-5.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-5.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-6.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-6.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-7.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-7.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/recent-photos/recent-photos-8.jpg" class="glightbox"><img src="assets/img/recent-photos/recent-photos-8.jpg" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Recent Photos Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>MeFamily</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>MeFamily</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>